@{
    ViewBag.Title = "Trend Analysis Report";
}

<h2>Trend Analysis Report</h2>
<hr/>
<div class="container">
    <div class="row" id="filter_criteria">
        <div class="col-lg-3 col-md-6 text-center">
            <div class="card border-dark mb-3 text-center bg-transparent" style="max-width: 50rem; min-height: 20rem">
                <h5 class="card-header mt-0">Date Range</h5>
                <div class="card-body">
                    <div class="text-left mb-1">Date Type</div>
                    <select id="custom_date_range" class="form-control col-12 mb-2">
                        <option value="0">Custom</option>
                        <option value="-1">Current Month</option>
                        <option value="1">Last Month</option>
                        <option value="3">Past 3 Months</option>
                        <option value="6">Past 6 Months</option>
                        <option value="12">Past 12 Months</option>
                    </select>
                    <div class="text-left mb-1">
                        From
                    </div>
                    <input type="date" id="from_date" class="chart_builder form-control col-12 mb-2"/>
                    <div class="text-left mb-1">
                        To
                    </div>
                    <input type="date" id="to_date" class="chart_builder form-control col-12"/>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
            <div class="card border-dark mb-3 text-center bg-transparent" style="max-width: 50rem; min-height: 20rem">
                <h5 class="card-header mt-0">Chart Type</h5>
                <div class="card-body">
                    <div class="text-left mb-1">
                        Data Type
                    </div>
                    <ul class="list-group list-group-flush bg-transparent" data-toggle="buttons" style="list-style: none;">
                        <li class="m-0">
                            <label class="btn btn-outline-dark text-center col-12 m-0"><input type="radio" id="data_type" name="data_type" value="disburse" checked="checked" class="chart_builder"/>Disbursement</label>
                        </li>
                        <li>
                            <label class="btn btn-outline-dark text-center col-12 m-0"><input type="radio" id="data_type" name="data_type" value="po" class="chart_builder"/>Purchase Order</label>
                        </li>
                    </ul>
                    <div class="text-left mt-3 mb-1">
                        Unit Type
                    </div>
                    <ul class="list-group list-group-flush bg-transparent" data-toggle="buttons" style="list-style: none;">
                        <li class="m-0">
                            <label class="btn btn-outline-dark text-center col-12 m-0">
                                <input type="radio" id="unit_type" name="unit_type" value="qty" checked="checked" class="chart_builder"/>Qty
                            </label><br/>
                        </li>
                        <li>
                            <label class="btn btn-outline-dark text-center col-12 m-0">
                                <input type="radio" id="unit_type" name="unit_type" value="cost" class="chart_builder"/>Cost
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 text-center" id="department">
            <div class="card border-dark mb-3 text-center bg-transparent" style="max-width: 50rem; min-height: 20rem">
                <h5 class="card-header mt-0">Department</h5>
                <div class="card-body">
                    @Html.ListBox("Departments", new SelectList(ViewBag.Departments, "DeptCode", "DeptName", "All"), new {size = 8, @style = "width:100%; height:100%", @class = "chart_builder form-control multi-list"})
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center" id="supplier">
            <div class="card border-dark mb-3 text-center bg-transparent" style="max-width: 50rem; min-height: 20rem">
                <h5 class="card-header mt-0">Supplier</h5>
                <div class="card-body">
                    @Html.ListBox("Suppliers", new SelectList(ViewBag.Suppliers, "SupplierId", "SupplierName", "All"), new {size = 8, @style = "width:100%; height:100%", @class = "chart_builder form-control multi-list"})
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center" id="category">
            <div class="card border-dark mb-3 text-center bg-transparent" style="max-width: 50rem; min-height: 20rem">
                <h5 class="card-header mt-0">Category</h5>
                <div class="card-body">
                    @Html.ListBox("Categories", new SelectList(ViewBag.Categories, "CategoryId", "CategoryName", "All"), new {size = 6, @style = "width:100%; height:100%", @class = "chart_builder form-control multi-list"})
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <br/>
    <div class="row text-center">
        <div class="col-12">
            <div id="columnchart_total" style="width: 1050px; height: 320px;"></div>
        </div>
    </div>
    <br/>
    <div class="row text-center">
        <div class="col-6">
            <div id="columnchart" style="width: 520px; height: 320px;"></div>
        </div>
        <div class="col-6">
            <div id="columnchart_1" style="width: 520px; height: 320px;"></div>
        </div>
    </div>
    <br/>
</div>

@section scripts
{
    <link href="~/Content/Listbox.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/jquery.listbox.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        $(function() {
            $('.multi-list').listbox({ 'searchbar': true });
        });
        $(document).ready(function() {
            var mydate = new Date();
            mydate.setDate(0);
            $('#data_type').button('toggle');
            $('input[type=radio][name=data_type]').on('change',
                function() {
                    if ($('#data_type:checked').val() === 'po') {
                        $('#supplier').show();
                        $('#department').hide();
                    } else {
                        $('#supplier').hide();
                        $('#department').show();
                    }
                })
            $('#to_date').val(mydate.toISOString().substr(0, 10));
            mydate.setMonth(mydate.getMonth() - 1);
            mydate.setDate(mydate.getDate() + 1);
            $('#from_date').val(mydate.toISOString().substr(0, 10));
            $('.chart_builder').each(function(i, obj) {
                $(obj).on('change', function() { update_chart(); });
            });
            $('#supplier').hide();
            $('#custom_date_range').on('change',
                function() {
                    if (Number($(this).val()) > 0) {
                        var mydate = new Date();
                        mydate.setDate(0);
                        $('#to_date').val(mydate.toISOString().substr(0, 10));
                        mydate.setMonth(mydate.getMonth() - Number($(this).val()));
                        mydate.setDate(mydate.getDate() + 1);
                        $('#from_date').val(mydate.toISOString().substr(0, 10));
                        //because it does not run automatically when the dates are changed
                        update_chart();
                    } else if ($(this).val() === '-1') {
                        var mydate = new Date();
                        $('#to_date').val(mydate.toISOString().substr(0, 10));
                        mydate.setDate(1);
                        $('#from_date').val(mydate.toISOString().substr(0, 10));
                        update_chart();
                    }
                });
        });


        var chart;
        var chart1;
        var chart_total;

        //load charts
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.setOnLoadCallback(function() {
            chart = new google.charts.Bar(document.getElementById('columnchart'));
            chart1 = new google.charts.Bar(document.getElementById('columnchart_1'));
            chart_total = new google.charts.Bar(document.getElementById('columnchart_total'));
        });


        function update_chart() {
            var postedData = '{fromdate=' +
                new Date($('#from_date').val()).getTime() +
                ", todate=" +
                new Date($('#to_date').val()).getTime() +
                ', departments=' +
                $('#Departments').val() +
                ', suppliers=' +
                $('#Suppliers').val() +
                ', categories=' +
                $('#Categories').val() +
                ', data_type=' +
                $('#data_type:checked').val() +
                ', unit_type=' +
                $('#unit_type:checked').val() +
                '}';

            $.ajax({
                url: "@Url.Content("~/")SupervisorDashboard/ReturnJsonData",
                data: postedData,
                type: 'POST',
                dataType: 'json',
                success: function(jsonData) {
                    var data = google.visualization.arrayToDataTable(jsonData.arr);
                    var options = {
                        chart: {
                            title: $('#data_type:checked').val() === "po" ? "Split By Supplier" : "Split By Department",
                            subtitle: ''
                        }
                    };
                    chart.draw(data, google.charts.Bar.convertOptions(options));
                    var data1 = google.visualization.arrayToDataTable(jsonData.arr1);
                    var options1 = {
                        title: "Split By Category",
                        colors: [
                            '#000099', '#0033cc', '#0066cc', '#0099cc', '#33cccc',
                            '#00ffcc', '#00ff99', '#66ff99', '#66ff66', '#66ff33', '#33cc33',
                            '#009900', '#669900', '#99cc00', '#cccc00', '#cc9900', '#996600'
                        ],
                        bar: { groupWidth: "95%" },
                        isStacked: true
                    };
                    chart1.draw(data1, google.charts.Bar.convertOptions(options1));
                    var dataTotal = google.visualization.arrayToDataTable(jsonData.arrTotal);
                    var optionsTotal = {
                        chart: {
                            title: 'Summary By Month'
                        }
                    };
                    chart_total.draw(dataTotal, google.charts.Bar.convertOptions(optionsTotal));
                }
            });
        }
    </script>
}

@*Authors: Douglas Lee Kiat Hui*@