@{
    ViewBag.Title = "Remark";
}

<form id="approveForm">

    <div class="modal-body">
        <span>Your Comment (optional):</span>
        <p></p>
        <div class="form-group col-md-10 col-sm-10">
            <textarea class="form-control" rows="5" id="comment" name="comment"></textarea>
            <input type="hidden" name="status" value="@ViewBag.status"/>
            <input type="hidden" name="checkList" value="@ViewBag.checkList"/>
        </div>
    </div>
    <div class="modal-footer">

        <div>
            @if (@ViewBag.status == "approved")
            {
                <button class="btn btn-success" id="approve">
                    Confirm Approve
                </button>
            }
            else
            {
                <button class="btn btn-danger" id="approve">
                    Confirm Reject
                </button>
            }

            <a href="#" class="btn btn-secondary" data-dismiss="modal"> Cancel</a>
        </div>
    </div>
</form>
<script>
    $(document).ready(function() {
        $("#approve").click(function() {
            var formdata = $("#approveForm").serialize();

            $.ajax({
                type: "POST",
                url: "@Url.Content("~/")StockAdjustment/ApproveReject",
                data: formdata,
                success: function() {
                    $("#myApproveModal").modal("hide");

                }
            });
            location.reload();
        });
    })
</script>

@*Authors: May Zin Ko*@