@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Not Found";
}
<br/>
<p></p>
<br/>
<div class="alert alert-dismissible alert-danger">
    <h3 class="text-danger"><strong>Not Found!</strong></h3>
    <p class="text-danger">What you need is not here. May be it is somewhere else.</p>
    <p class="text-danger">Somewhere...</p>
    <div style="width: 50%; margin: auto">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PSZxmZmBfnU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <br/>
</div>