@{
    ViewBag.Title = "Error";
}
<div class="jumbotron">
    <h1 class="text-danger">Error!</h1>
    <h2 class="text-danger">You are not allowed to approve/reject PO when you have active delegate!</h2>
</div>

@*Authors: Koh Meng Guan*@
