@using LUSSIS.Models.WebDTO
@model RetrievalItemsWithDateDTO


@{
    ViewBag.Title = "Consolidated";
}
<h2>Consolidated Stationery Requisitions</h2>
<hr />

@if (Model.RetrievalItems == null || !Model.RetrievalItems.Any())
{
    <div class="alert alert-dismissible alert-info">
        <br />
        <strong>Interesting...</strong> <br />There is no requisition and remaining items to be viewed. <br /> <br />
    </div>
}
else
{
    @*We are able to generate multiple batches of disbursements, however retrieval in process list will combine all disbursement that are inprocess.
        Since generating multiple batches of retrieval is not a business requirement, we will omit this funtion *@
    if (Model.HasInprocessDisbursement)
    {
        <div class="alert alert-dismissible alert-info">
            <br />
            <strong>
                There are already disbursements in process . <br />
            </strong> You can arrange for new disbursements once the current ones are completed.<br /><br />
        </div>
    }
    else
    {
        <hr />
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between" style="border-radius: 5px;">
            <div class="navbar-nav mr-auto"></div>
            @using (Html.BeginForm("Retrieve", "Requisitions", FormMethod.Post, new { @class = "form-inline my-2 my-lg-0" }))
            {
                @Html.AntiForgeryToken()

                @Html.LabelFor(model => model.CollectionDate, "Select a collection date", new { @class = "nav-item nav-link", style = "color:whitesmoke" })
                <input type="text" class="form-control" name="collectionDate" id="collectionDate" onkeydown="return false">
                @Html.ValidationMessageFor(model => model.CollectionDate, "must be later than today", new { @class = "invalid-feedback" })

                <div class="nav-item nav-link"><button type="submit" class="btn btn-success my-2 my-sm-0">Arrange Retrieval and Disbursment</button></div>
            }
        </nav>
        <hr />

    }

    @Html.Partial("_Consolidated", Model.RetrievalItems)

}

@section scripts {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <link href="~/Content/sorter/style.css" rel="stylesheet" type="text/css" />

    <script>
        $(function () {
            $("#collectionDate")
                .datepicker({
                    minDate: 1,
                    maxDate: "+1M +10D",
                    dateFormat: "dd/mm/yy"
                }).datepicker("setDate", "+2d");
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#long-table").tablesorter();
        }
        );
    </script>

}

@*Authors: Tang Xiaowen*@

