@model LUSSIS.Models.WebDTO.ManageCollectionDTO

@{
    ViewBag.Title = "Manage Collection Point";
}

<h2>Manage Collection Point</h2>
<hr/>
@using (Ajax.BeginForm("UpdateCollection", "Collection", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "currentPoint"
}))
{
    @Html.Partial("_SetCollection", Model.CollectionPoint)

    <div class="card border-dark mb-3 bg-transparent ">
        <h5 class="card-header bg-dark" style="margin-top: 0; color: whitesmoke">
            Set New Collection Point
        </h5>
        <div class="card-body">
            <small class="card-subtitle text-muted">New collection point is effective from the next upcoming collection<br/> (current collection will not be affected)</small>
        </div>@*@using (Html.BeginForm("UpdateCollection", "Collection", FormMethod.Post))*@

        <ul class="list-group list-group-flush bg-transparent">
            @foreach (var item in Model.CollectionPoints)
            {
                <label class="btn btn-outline-dark text-left">
                    @Html.RadioButtonFor(model => model.DeptCollectionPointId, item.CollectionPointId,
                        item.CollectionName == Model.CollectionPoint.CollectionName ? new {@checked = "checked", @class = "btn btn-primary"} : null)

                    @item.CollectionName
                    @item.Time
                </label>
            }

            <li class="list-group-item bg-transparent">
                <input type="submit" value="Set New Collection Point" class="btn btn-success" style="padding: 0.5rem 3rem"/>
            </li>

        </ul>

        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://snazzymaps.com/embed/41737" width="1200" height="500" style="border: none;"></iframe>
        </div>
    </div>
}


@section scripts {
    <script src="~/Scripts/jquery.unobstrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}


@*Authors: Ong Xin Ying*@